<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RunAtLoad</key>
	<true/>
	<key>OnDemand</key>
	<true/>
	<key>Label</key>
	<string>com.chmullig.DataScienceLeaderboardFetcher</string>
	<key>ProgramArguments</key>
	<array>
		<string>./leaderGrabber.py</string>
	</array>
	<key>ServiceDescription</key>
	<string>Dump the datascience kaggleleaderboards</string>
	<key>StartInterval</key>
	<integer>3600</integer>
    <key>ExitTimeOut</key>
    <integer>120</integer>
	<key>WorkingDirectory</key>
	<string>/Users/chmullig/programming/datascience</string>
	<key>StandardOutPath</key>
	<string>/Users/chmullig/programming/datascience/log</string>
	<key>StandardErrorPath</key>
	<string>/Users/chmullig/programming/datascience/log</string>
</dict>
</plist>
